@use '../../../styles/theme-colors' as theme-colors;

.auth-landing-container {
  max-width: 600px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 600px;
  box-shadow: 0 4px 8px map-get(theme-colors.$tertiary-palette, 95);
  border-radius: 8px;
  overflow: hidden;
}

mat-card-header {
  background-color: map-get(theme-colors.$tertiary-palette, 98);
  color: white;
  padding: 32px;
  text-align: center;
  justify-content: center;
}

mat-card-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 8px;
  color: map-get(theme-colors.$primary-palette, 400);
}

mat-card-subtitle {
  font-size: 20px;
  margin-top: 4px;
  color: map-get(theme-colors.$primary-palette, 100);
}

mat-card-content {
  padding: 32px;
  font-size: 16px;
  color: map-get(theme-colors.$neutral-palette, 30);
}

.auth-options {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

button {
  display: flex;
  align-items: center;
  gap: 16px;
}

button mat-icon {
  font-size: 20px;
}

button.accent {
  background-color: map-get(theme-colors.$secondary-palette, 100);
  color: white;
}
