@use '@angular/material' as mat;
@use './theme-colors' as colors;
@use './responsive' as responsive;
@use 'sass:map';

// Custom typography config
$typography-config: mat.m2-define-typography-config(
  $font-family: "'Roboto', sans-serif",
  $headline-1: mat.m2-define-typography-level(96px, 96px, 300),
  $headline-2: mat.m2-define-typography-level(60px, 60px, 300),
  $headline-3: mat.m2-define-typography-level(48px, 48px, 400),
);

// Define the base theme
$light-theme-base: mat.m2-define-light-theme(
  (
    color: (
      primary: colors.$primary-palette,
      accent: colors.$accent-palette,
      warn: colors.$warn-palette,
    ),
    typography: $typography-config,
    density: 0,
  )
);

// Create a complete theme by merging the base theme with custom palettes
$light-theme: map.merge(
  $light-theme-base,
  (
    success: colors.$success-palette,
    info: colors.$info-palette,
    secondary: colors.$secondary-palette,
  )
);

// Dark theme configuration
$dark-theme-base: mat.m2-define-dark-theme(
  (
    color: (
      primary: colors.$primary-palette,
      accent: colors.$accent-palette,
      warn: colors.$warn-palette,
    ),
    typography: $typography-config,
    density: 0,
  )
);

$dark-theme: map.merge(
  $dark-theme-base,
  (
    success: colors.$success-palette,
    info: colors.$info-palette,
    secondary: colors.$secondary-palette,
  )
);

// Export themes
$theme: $light-theme;
