@use 'sass:map';
@use '@angular/material' as mat;

// Define the palettes using the Material palette generator
$primary-colors: (
  50: #fab4c5,
  100: #140106,
  200: #28030c,
  300: #3c0412,
  400: #500618,
  500: #65071e,
  600: #af0c35,
  700: #ef1d52,
  800: #f5688b,
  900: #fab4c5,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #000000,
    900: #000000,
  ),
);

$accent-colors: (
  50: #ecdfc8,
  100: #151007,
  200: #291f0e,
  300: #3e2f15,
  400: #523e1c,
  500: #674e23,
  600: #9e7836,
  700: #c69e59,
  800: #d9be90,
  900: #ecdfc8,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$secondary-colors: (
  50: #d1d6f1,
  100: #0a0d21,
  200: #141a42,
  300: #1e2763,
  400: #273484,
  500: #3140a5,
  600: #495ac9,
  700: #7683d6,
  800: #a4ace4,
  900: #d1d6f1,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$success-colors: (
  50: #cdf3cf,
  100: #082009,
  200: #0f4012,
  300: #17611a,
  400: #1e8123,
  500: #26a32c,
  600: #35d03d,
  700: #68dc6e,
  800: #9ae79e,
  900: #cdf3cf,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$warn-colors: (
  50: #faecec,
  100: #3f1010,
  200: #7e1f1f,
  300: #bc2f2f,
  400: #d86262,
  500: #e7a0a0,
  600: #ecb4b4,
  700: #f1c7c7,
  800: #f6d9d9,
  900: #faecec,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$info-colors: (
  50: #a7ffe6,
  100: #000e0a,
  200: #001d14,
  300: #002b1f,
  400: #003929,
  500: #004733,
  600: #009f72,
  700: #00f7b1,
  800: #50ffcd,
  900: #a7ffe6,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$neutral-colors: (
  50: #f8f9fa,
  100: #262b34,
  200: #4c5567,
  300: #758199,
  400: #a8b0bf,
  500: #dcdfe5,
  600: #e3e5ea,
  700: #eaecef,
  800: #f1f2f5,
  900: #f8f9fa,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

// Export the color palettes
$primary-palette: mat.m2-define-palette($primary-colors);
$accent-palette: mat.m2-define-palette($accent-colors);
$warn-palette: mat.m2-define-palette($warn-colors);
$success-palette: mat.m2-define-palette($success-colors);
$info-palette: mat.m2-define-palette($info-colors);
$secondary-palette: mat.m2-define-palette($secondary-colors);
$neutral-palette: mat.m2-define-palette($neutral-colors);
