@use '@angular/material' as mat;
@use './styles/theme' as theme;
@use './styles/responsive' as responsive;

// Include the common styles for Angular Material. Only include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes(theme.$theme);

.dark-theme {
  @include mat.all-component-colors(theme.$dark-theme);
}

// Custom CSS variables
:root {
  --primary: #{mat.get-theme-color(theme.$theme, 'primary')};
  --accent: #{mat.get-theme-color(theme.$theme, 'accent')};
  --warn: #{mat.get-theme-color(theme.$theme, 'warn')};
  --surface: #{mat.get-theme-color(theme.$theme, 'background')};
  --on-surface: #{mat.get-theme-color(theme.$theme, 'foreground')};
}

.dark-theme {
  --primary: #{mat.get-theme-color(theme.$dark-theme, 'primary')};
  --accent: #{mat.get-theme-color(theme.$dark-theme, 'accent')};
  --warn: #{mat.get-theme-color(theme.$dark-theme, 'warn')};
  --surface: #{mat.get-theme-color(theme.$dark-theme, 'background')};
  --on-surface: #{mat.get-theme-color(theme.$dark-theme, 'foreground')};
}

// Global styles
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--surface);
  color: var(--on-surface);
  @include responsive.theme-transition;
}
