.footer {
  color: #a0aec0;

  h5 {
    color: #edf2f7;
  }

  p,
  a {
    color: #a0aec0;
  }

  a:hover {
    color: #63b3ed;
  }

  .social-links a {
    color: #a0aec0;
    transition: color 0.3s;

    &:hover {
      color: #63b3ed;
    }
  }
}
