<ng-container *ngIf="!isLoading && (authService.isAuthenticated() | async); else authLayout">
  <div class="layout-container">
    <app-header class="header-fixed"></app-header>
    <mat-sidenav-container>
      <mat-sidenav #sidenav [mode]="(layoutService.isLargeScreen$ | async) ? 'side' : 'over'"
        [opened]="layoutService.sidebarOpen$ | async" [fixedInViewport]="true" [fixedTopGap]="80"
        (closed)="layoutService.closeSidebar()">
        <app-sidebar></app-sidebar>
      </mat-sidenav>
      <mat-sidenav-content
        [class.overlay-active]="(layoutService.sidebarOpen$ | async) && !(layoutService.isLargeScreen$ | async)">
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</ng-container>

<ng-template #authLayout>
  <div class="auth-layout" *ngIf="!isLoading">
    <main class="auth-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</ng-template>

<div *ngIf="isLoading" class="preloader">
  <app-spinner [overlay]="true" color="primary" [diameter]="60"></app-spinner>
</div>